main .top {
  background: url("../images/top-bg.webp") rgba(0, 0, 0, 0.8) no-repeat center;
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  transition: 300ms;
  color: white;

  section {
    height: inherit;

    @include flex(space-between);

    .content {
      max-width: 750px;
      span {
        font-size: 30px;
        font-weight: 400;

        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      h1 {
        font-size: 80px;
        font-weight: 700;
        padding-bottom: 40px;

        @media (max-width: 768px) {
          font-size: 50px;
        }
      }

      a {
        @include hoverButton($red1, $red2, 15px 40px);
      }
    }
  }
}
